﻿
<form action="/auth/login" method="post">

    @if (TempData["AuthMessage"] != null)
    {
        <p>@TempData["AuthMessage"]</p>
    }

    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <button>Iniciar Sesión</button>
</form>