﻿<h1>
    @Model.Pokemon.NOMBRE
</h1>

<h3>Pokemon -> Detalle</h3>
@foreach (var item in Model.Pokemon)
{
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">item.username</h5>
            <a href="https://localhost:44346/pokemon/listar?id=@item.Id" class="card-link">@item.Dislikes Dislike</a>
        </div>
    </div>

}