﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center mt-3 mb-3">
            <a href="https://localhost:44346/pokemon/detalle?id=@item.IDPOKEMON">
                <img src="@item.IMAGEN" height="200" />
            </a>
            <div>
                @item.NOMBRE
            </div>
        </div>
    }
    <form action="/AdminPokemon/Create" method="post">
        <button>REGISTRAR POKEMON</button>

    </form>
</div>  