﻿<form action="/adminpokemon/create" anctype="multipart/form-data" method="post">

    <input type="text" name="Nombre" />
    <input type="text" name="Tipo" />

    <input type="file" name="file" accept=".jpg,.png" />

    <button>Guardar</button>

</form>
