﻿<form action="/adminpokemon/edit?id=@Model.IDPOKEMON" enctype="multipart/form-data" method="post">
    
    <input type="text" name="Nombre" value="@Model.NOMBRE" />

    <input type="file" name="file" accept=".jpg,.png" />
    <img src="@Model.IMAGEN" alt="Alternate Text" />

    <button>Guardar</button>

</form>